$variable: #6346FA;

.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

.search {
  width: 100%;
  padding: 10px 20px;
  background: #fff;
  border-radius: 25px;
  overflow: hidden;
}

.search-input {
  width: 100%;
}

.h1 {
  font-weight: bold;
  font-size: 24px;
}

.h2 {
  font-weight: bold;
  font-size: 20px;
}

.welcome {
  color: #fff;
  background-color: $variable;
  border-radius: 8px;
  padding: 15px;
}

.link {
  color: $variable;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.fadein {
  animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.fadeout{
  animation: fadeout 3s;
}
@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.link {
  color: $variable;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: block;
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }

  .btn-secondary {
    @apply py-2 px-4 bg-gray-500 text-white font-semibold rounded-lg shadow-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75;
  }

  .btn-danger {
    @apply py-2 px-4 bg-red-500 text-white font-semibold rounded-lg shadow-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-75;
  }

  .btn-dashboard {
    @apply flex items-center space-x-3 h-10 rounded-lg hover:text-red-600 text-gray-500
  }

  .btn-dashboard:hover {
    color: $variable;
  }

  .btn-dashboard-selected {
    color: $variable;
    @apply flex items-center space-x-3 h-10 rounded-lg;
  }

  .input-text {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2;
  }
}
